# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/

# Logs and backups
logs/
backups/

# Packaging
dist/
build/

# PyTest
.pytest_cache/

# Mypy
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

